
/* Estilos generales */
:root {
    --header-height: 3rem;
    --font-medium: 500;
    --first-color: #5361ff;
    --white-color: #fafaff;
    --dark-color: #2a3b47;
    --text-color: #697477;
    --body-font: 'Montserrat', sans-serif;
    --big-font-size: 6.25rem;
    --h2-font-size: 1.25rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --mb1: .5rem;
    --mb2: 1rem;
    --mb3: 1.5rem;
    --mb4: 2rem;
    --z-fixed: 100;
}

/* Estilos para la introducción */
#intro-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    /*background-color: rgba(0, 0, 0, 0.288);*/
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Asegura que esté por encima de todo */
    opacity: 1;
    transition: opacity 2s ease-out;
}

#intro-overlay img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 1;
    transition: opacity 2s ease-out;
}

/* Clase para ocultar la introducción */
#intro-overlay.hide {
    opacity: 0;
    pointer-events: none; /* Evita interacciones con el overlay */
}

#intro-overlay.hide img {
    opacity: 0;
}

/* Estilos para el contenido de la página */
#page-content {
    display: none; /* Oculto inicialmente */
}
@media screen and (min-width: 768px) {
    :root {
        --big-font-size: 8rem;
        --h2-font-size: 2rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
    }
}

*, *::before, *::after { box-sizing: border-box; }
html { scroll-behavior: smooth; }

body {
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    color: var(--text-color);
    line-height: 1.6;
}

h1, h2, p { margin: 0; }
ul { margin: 0; padding: 0; list-style: none; }
a { text-decoration: none; color: var(--text-color); }
img { max-width: 100%; height: auto; display: block; }

.section { padding: 3rem 0; }

.section-title {
    position: relative;
    font-size: var(--h2-font-size);
    color: var(--dark-color);
    margin: var(--mb4) 0;
    text-align: center;
}

    .section-title::after {
        position: absolute;
        content: '';
        width: 32px;
        height: 0.18rem;
        left: 0;
        right: 0;
        margin: auto;
        top: 2rem;
        background-color: var(--first-color);
    }

.bd-grid {
    max-width: 1024px;
    display: grid;
    grid-template-columns: 100%;
    grid-column-gap: 2rem;
    width: calc(100% - 2rem);
    margin-left: var(--mb2);
    margin-right: var(--mb2);
}

/*HEADER*/

.l-header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-image: url(imagenes/gota4.jpg);
}
.l-header{
    background:rgba(0,0,0,0.5);
}



.nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item { margin-bottom: var(--mb4); }
.nav-link { position: relative; color: var(--dark-color); }
.nav-link:hover { color: var(--first-color); }
.nav-logo { color: var(--white-color); }
.nav-toggle { color: var(--white-color); font-size: 2.5rem; cursor: pointer; }

.active::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 0.18rem;
    left: 0;
    top: 2rem;
    
}

@media screen and (max-width: 768px) {
    .nav-menu {
        position: fixed;
        top: var(--header-height);
        right: -100%;
        width: 80%;
        height: 100%;
        padding: 2rem;
        background-color: rgba(255, 255, 255, .3);
        transition: .5s;
        backdrop-filter: blur(10px);
    }

    .show { right: 0; }
}

/*HOME*/

.home 
{
      position: relative;
      background-image: url(imagenes/asper.jpg); 
      
      background-size: auto;
      background-position:100%;
     overflow: hidden;
    
}
/* Superposición semitransparente */
.home::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro semitransparente (ajusta el valor 0.5 para cambiar la opacidad) */
    z-index: 1; /* Asegura que esté por encima del fondo pero debajo del contenido */
}

/* Asegúrate de que el contenido de .home esté por encima de la superposición */
.home-container {
    position: relative;
    z-index: 2; /* Asegura que el contenido esté por encima de la superposición */
}

.home-title { 
    margin-top: 200px;
    align-self:flex-start; 
    font-size: var(--big-font-size); 
    color: var(--white-color);
    line-height: 0.8;
}
    .home-title span { text-shadow: 0 20px 25px rgba(0, 0, 0, .5); }

.home-scroll { align-self: flex-end; padding-bottom: var(--mb4); }
.home-scroll-link { writing-mode: vertical-lr; transform: rotate(-180deg); color: var(--white-color); }

.home-img {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 500px;
}

/*ABOUT*/

.about-container 
{ 
    justify-items: center; 
    row-gap: 2rem; 
    text-align: center; 
}

.about-img {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    width: 500px;
    height: 500px;
    background-color:#fafaff;
    border-radius: 50%;
    overflow: hidden;
}

    .about-img img 
    { 
        width: 800px; 
    }

.about-subtitle { font-size: var(--h2-font-size); color: var(--first-color); margin-bottom: var(--mb1); }
.about-text { margin-bottom: var(--mb4); }
.about-profession { display: block; margin-bottom: var(--mb4); }
.about-social-icon { font-size: 1.4rem; margin: 0 var(--mb1); }
.about-social-icon:hover { color: var(--first-color); }

/*SKILLS*/

.skills-container { row-gap: 2rem; }
.skills-subtitle { color: var(--first-color); margin-bottom: var(--mb3); }

.skills-name {
    display: inline-block;
    font-size: var(--small-font-size);
    margin-right: var(--mb2);
    margin-bottom: var(--mb3);
    border-radius: .25rem;
    transition: .5s;
}

    .skills-name:hover { background-color: var(--first-color); color: var(--white-color); }

.skills-img img { border-radius: .5rem; }

/*PORTFOLIO*/

.portfolio { background-color: var(--white-color); }
.portfolio-container { justify-items: center; row-gap: 2rem; }
.portfolio-img { position: relative; overflow: hidden; }
    .portfolio-img img { border-radius: .5rem; }

.portfolio-link {
    position: absolute;
    bottom: -100%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, .3);
    border-radius: .5rem;
    cursor: pointer;
    backdrop-filter: blur(10px);
    transition: .3s;
}

    .portfolio-img:hover .portfolio-link { bottom: 0; }
.portfolio-link-color { color: var(--dark-color); }

/*CONTACT*/

.contact-container { row-gap: 2rem; }
.contact-subtitle { font-size: var(--normal-font-size); color: var(--first-color); }
.contact-text { display: inline-block; margin-bottom: var(--mb2); }
.contact-inputs { display: grid; grid-template-columns: repeat(2, 1fr); column-gap: 1rem; }

.contact-input {
    width: 100%;
    padding: 0.8rem;
    outline: none;
    border: 1.5px solid var(--dark-color);
    font-size: var(--normal-font-size);
    margin-bottom: var(--mb4);
    border-radius: .5rem;
}

.contact-button {
    display: block;
    background-color: var(--first-color);
    color: var(--white-color);
    padding: 0.75rem 2.5rem;
    margin-left: auto;
    border-radius: .5rem;
    border: none;
    outline: none;
    font-size: var(--normal-font-size);
    cursor: pointer;
}

/*FOOTER*/

.footer { background-color: var(--dark-color); }
.footer-container { row-gap: 2rem; }
.footer-title { font-size: var(--normal-font-size); color: var(--white-color); margin-bottom: var(--mb2); }
.footer-link { padding: 0.25rem 0; }
    .footer-link:hover { color: var(--first-color); }

.footer-social { font-size: 1.4rem; margin-right: var(--mb1); }
    .footer-social:hover { color: var(--first-color); }

/*MEDIA QUERIES*/

@media screen and (min-width: 768px) {
    body { margin: 0; }
    .section { padding-top: 4rem; }
    .section-title { margin-bottom: 3rem; }
    .section-title::after { width: 64px; top: 3rem; }

    .nav { height: calc(var(--header-height) + 1rem); }
    .nav-list { display: flex; }
    .nav-item { margin-left: var(--mb4); margin-bottom: 0; }
    .nav-toggle { display: none; }
    .nav-link { color: var(--white-color); }
    .nav-link:hover { color: var(--white-color); }
    .active::after { background-color: var(--white-color); }

    .home-container { height: 100vh; grid-template-rows: 1.7fr 1fr; row-gap: 0; }
    .home-img { width: 524px; right: 10%; }

    .about-container 
    { grid-template-columns: repeat(2, 1fr); 
        align-items: center; 
        text-align: initial; 
        padding: 4rem 0; 
    }
    .about-img { width: 700px; height: 600px; }
        .about-img img { width: 500px; }

    .skills-container { grid-template-columns: repeat(2, 1fr); align-items: center; }

    .portfolio-container { grid-template-columns: repeat(3, 1fr); grid-template-rows: repeat(2, 1fr); column-gap: 2rem; }

    .contact-container { grid-template-columns: repeat(2, 1fr); justify-items: center; }
    .contact-form { width: 380px; }

    .footer-container { grid-template-columns: repeat(3, 1fr); justify-items: center; } 

} 

@media screen and (min-width: 1024px) {
    .bd-grid 
    { 
        margin-top: auto;
        margin-bottom: auto;
        margin-left: auto; 
        margin-right: auto; 
    }
}
/* Estilos de Expanding Cards */
.expanding-cards {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: var(--mb4) 0;
}

.container {
    margin-top: 150px;
    margin-bottom:150px;
    display: flex;

    width: 90vw;
}

.panel {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    border-radius: 100px;
    color: #fff;
    cursor: pointer;
    flex: 0.5; /* Tamaño inicial de los paneles inactivos */
    margin: 10px;
    position: relative;
    transition: flex 4s ease-in-out; /* Transición más lenta y suave */
}

.panel h3 {
    font-size: 40px;
    position: absolute;
    bottom: 40px;
    left: 40px;
    margin: 0;
    opacity: 0;
    transition: opacity 1s ease-in 2s; /* El texto aparece después de 2 segundos */
}

.panel.active {
    flex: 10;
}

.panel.active h3 {
   opacity: 1;
}

@media (max-width: 480px) {
    .container {
        width: 100vw;
    }

    .panel:nth-of-type(4),
    .panel:nth-of-type(5) {
        display: none;
    }
}
.texto-ini {
    font-size: 2.5rem; /* Tamaño del texto */
    color: var(--white-color); /* Color del texto */
    text-align:center; /* Alineación del texto */
    margin-top: 1rem; /* Espacio superior */
    margin-bottom: 2rem; 
    opacity: 0; /* Inicialmente oculto */
    transform: translateY(100%); /* Inicialmente fuera de la pantalla (abajo) */
    transition: opacity 0.5s ease, transform 0.5s ease; /* Transición rápida */
}
/* Estilos para la sección Vertical Slider */
.vertical-slider {
    margin: 5rem auto;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
    width: 80%;
    height:100vh ; /* Ajusta la altura según tus necesidades */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.slider-container {
    
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.left-slide {
    height: 100%;
    width: 35%;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.5s ease-in-out;
}

.left-slide>div {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    padding: 1rem;
}

.left-slide h1 {
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: -30px;
    text-align: center;
}
.left-slide p 
{
    font-size: 14px; /* Reducir el tamaño del texto */
    text-align: center; /* Centrar el texto */
}

.right-slide {
    height: 100%;
    position: absolute;
    top: 0;
    left: 35%;
    width: 65%;
    transition: transform 0.5s ease-in-out;
}

.right-slide>div {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100%;
    width: 100%;
    border-radius: 0 15px 15px 0;
}

button {
    background-color: #fff;
    border: none;
    color: #aaa;
    cursor: pointer;
    font-size: 16px;
    padding: 15px;
}

button:hover {
    color: #222;
}

button:focus {
    outline: none;
}

.slider-container .action-buttons button {
    position: absolute;
    left: 35%;
    top: 50%;
    z-index: 100;
}

.slider-container .action-buttons .down-button {
    transform: translateX(-100%);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.slider-container .action-buttons .up-button {
    transform: translateY(-100%);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
/* Estilos para el botón de WhatsApp */
.whatsapp-button {
    position: fixed; /* Fijar el botón en la pantalla */
    bottom: 20px; /* Distancia desde la parte inferior */
    right: 20px; /* Distancia desde la derecha */
    background-color: #25D366; /* Color de WhatsApp */
    color: #fff; /* Color del icono */
    border-radius: 50%; /* Forma circular */
    width: 60px; /* Ancho del botón */
    height: 60px; /* Altura del botón */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px; /* Tamaño del icono */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Sombra */
    text-decoration: none; /* Quitar subrayado del enlace */
    transition: all 0.3s ease; /* Transición suave */
    z-index: 1000; /* Asegurar que esté por encima de otros elementos */
}

.whatsapp-button:hover {
    background-color: #128C7E; /* Cambiar color al pasar el mouse */
    transform: scale(1.1); /* Efecto de escala */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Sombra más pronunciada */
}
/* Estilos para la introducción */
#intro-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 1); /* Fondo negro */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Asegura que esté por encima de todo */
    opacity: 1;
    transition: opacity 2s ease-out;
}

#intro-overlay img {
    max-width: 100%;
    max-height: 100%;
    opacity: 1;
    transition: opacity 2s ease-out;
}

/* Clase para ocultar la introducción */
#intro-overlay.hide {
    opacity: 0;
    pointer-events: none; /* Evita interacciones con el overlay */
}

#intro-overlay.hide img {
    opacity: 0;
}